flow.json
[{"id":"1d871841.9c23e8","type":"tab","label":"NLU","disabled":false,"info":""},{"id":"30045b07.24450c","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Entities","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":429,"y":99.99999237060547,"wires":[["b7b22e4.7a98a5"]]},{"id":"b7b22e4.7a98a5","type":"function","z":"1d871841.9c23e8","name":"Remove Entities","func":"\n\nvar reg = \"\";\nreg = reg + \"Cox| chat | moment | Cox Live | PIN | agent |XXXX| Chat Support | 10-Digit Phone Number | four-digit | complete home address |<span>|<br>|<\\\\/span>\"\n\nfor (i=0; i<msg.features.entities.length; i++){\n    reg = reg + \" | \" + msg.features.entities[i].text.replace(\" \", \" | \") + \" \";\n}\n\nreg = new RegExp(reg, \"gi\");\nvar npay = msg.payload.replace(reg, \" \"); \nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\nvar cr = msg.CHAT_REASON;\nvar prog = msg.prog;\nmsg = {};\nmsg.payload = npay;\nmsg.progress = prog;\nmsg.CHAT_REASON = cr;\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":99.99999237060547,"wires":[["2c9a5c9.aadfe24"]]},{"id":"5cdf9404.7a80ac","type":"function","z":"1d871841.9c23e8","name":"Cleanse","func":"msg.CHAT_REASON = msg.payload.CHAT_REASON;\nmsg.payload = msg.payload.TRANSCRIPT;\nmsg.payload = msg.payload.replace(/(Thank).*?(today)/i, \" \");\nmsg.payload = msg.payload.replace(/<[^>]*>/g, \" \");\nmsg.payload = msg.payload.replace(/(Hello|Hi)\\s\\S+/gi, \" \");\nmsg.payload = msg.payload.replace(/(To better assist you).*?(Thank you)/i, \" \");\nmsg.payload = msg.payload.replace(/[(),.!?;:]/g, \"  .  \");\nmsg.prog = msg.parts.index/msg.parts.count;\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":99.99999237060547,"wires":[["30045b07.24450c"]]},{"id":"de12b233.969268","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"select ENGAGEMENTID from DASH101062.TRAINING_RAW","params":"","name":"Get Dataset","x":113,"y":172.99998474121094,"wires":[["86ccbf9e.2205d"]]},{"id":"7a0a7c99.a1d86c","type":"inject","z":"1d871841.9c23e8","name":"Start Batch - WML Prep","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":206.99998474121094,"wires":[["de12b233.969268","6b0f3bac.88385c"]]},{"id":"86ccbf9e.2205d","type":"split","z":"1d871841.9c23e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":108,"y":140,"wires":[["ada90eb6.9d757"]]},{"id":"db9cb349.0fe19","type":"function","z":"1d871841.9c23e8","name":"prep","func":"var keyw = msg.features.keywords\nwhile (keyw.length < 6){\n    keyw.push(keyw[0]);\n}\n\nmsg.payload = 'insert into DASH101062.TRAINING (CLASSIFICATION, KEY1, KEY2, KEY3,KEY4,KEY5,KEY6) values ('\nmsg.payload = msg.payload + \"'\" + msg.CHAT_REASON + \"'\";\n\nfor (i = 0; i < 6; i++){\n    msg.payload = msg.payload + \",'\" + msg.features.keywords[i].text + \"'\";\n}\nmsg.payload = msg.payload + ')';\nreturn msg;","outputs":1,"noerr":0,"x":964.0000610351562,"y":99.99998474121094,"wires":[["8bc1ed08.69487"]]},{"id":"2c9a5c9.aadfe24","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Keywords","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"6","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":804,"y":99.99998474121094,"wires":[["db9cb349.0fe19"]]},{"id":"8bc1ed08.69487","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"","params":"","name":"DB2 Write","x":1104.4500732421875,"y":99.44998168945312,"wires":[["af9f0456.3bd5b8"]]},{"id":"ada90eb6.9d757","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"select * from DASH101062.TRAINING_RAW where ENGAGEMENTID = ?;","params":"msg.payload.ENGAGEMENTID","name":"Read Row","x":109.44999694824219,"y":100.55001068115234,"wires":[["5cdf9404.7a80ac"]]},{"id":"a5aaf46b.91fd2","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Entities","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"","x":424.45001220703125,"y":339.550048828125,"wires":[["e42705fb.21ce08"]]},{"id":"e42705fb.21ce08","type":"function","z":"1d871841.9c23e8","name":"","func":"\n\nvar reg = \"\";\nreg = reg + \"Cox| chat | moment | Cox Live | PIN | agent |XXXX| Chat Support | 10-Digit Phone Number | four-digit | complete home address |<span>|<br>|<\\\\/span>\"\n\nfor (i=0; i<msg.features.entities.length; i++){\n    reg = reg + \" | \" + msg.features.entities[i].text.replace(\" \", \" | \") + \" \";\n}\n\nreg = new RegExp(reg, \"gi\");\nvar npay = msg.payload.replace(reg, \" \"); \nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\n\nmsg.payload = npay;\nmsg.trimChat = npay;\n\nreturn msg;","outputs":1,"noerr":0,"x":260.4499969482422,"y":390.550048828125,"wires":[["5a161227.45e65c","af9f0456.3bd5b8"]]},{"id":"537a8632.6d4fd","type":"function","z":"1d871841.9c23e8","name":"Cleanse","func":"\nmsg.payload = msg.payload.TRANSCRIPT;\nmsg.payload = msg.payload.replace(/(Thank).*?(today)/i, \" \");\nmsg.payload = msg.payload.replace(/<[^>]*>/g, \" \");\nmsg.payload = msg.payload.replace(/(Hello|Hi)\\s\\S+/gi, \" \");\nmsg.payload = msg.payload.replace(/(To better assist you).*?(Thank you)/i, \" \");\nmsg.payload = msg.payload.replace(/[(),.!?;:]/g, \"  .  \");\nreturn msg;","outputs":1,"noerr":0,"x":268.4499969482422,"y":338.550048828125,"wires":[["a5aaf46b.91fd2"]]},{"id":"5a161227.45e65c","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Keywords","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"15","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"","x":431.45001220703125,"y":390.550048828125,"wires":[["53b82c5f.9749f4"]]},{"id":"fede9376.46b6d","type":"http in","z":"1d871841.9c23e8","name":"","url":"/classify","method":"post","upload":false,"swaggerDoc":"","x":92.14999389648438,"y":337.7666931152344,"wires":[["537a8632.6d4fd"]]},{"id":"905afb73.c52028","type":"http response","z":"1d871841.9c23e8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1052.050048828125,"y":382.75006103515625,"wires":[]},{"id":"53b82c5f.9749f4","type":"http request","z":"1d871841.9c23e8","name":"Auth","method":"GET","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/identity/token","tls":"75411194.de7f28","x":607.4500122070312,"y":391.550048828125,"wires":[["beb2bd1.801d04"]]},{"id":"beb2bd1.801d04","type":"function","z":"1d871841.9c23e8","name":"Prep","func":"msg.iteration = 0;\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.payload.token;\nmsg.auth = msg.headers.Authorization;\nvar keyw = msg.features.keywords\nwhile (keyw.length < 6){\n    keyw.push(keyw[0]);\n}\nmsg.payload = {\"fields\":[\"KEY1\",\"KEY2\",\"KEY3\", \"KEY4\",\"KEY5\", \"KEY6\"],\"values\":[[keyw[0].text,keyw[1].text,keyw[2].text,keyw[3].text,keyw[4].text,keyw[5].text]]}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":612.5333862304688,"y":333.32086181640625,"wires":[["8935e865.e6eb08"]]},{"id":"8935e865.e6eb08","type":"http request","z":"1d871841.9c23e8","name":"Watson Machine Learning","method":"POST","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/wml_instances/40cda31c-7686-4b23-946c-bd2d5bf7fab3/published_models/3407f10b-0aba-45ae-aaab-afa1d622a5d1/deployments/af13cf4c-a544-4186-a20f-e0e9f393e497/online","tls":"75411194.de7f28","x":829.7833862304688,"y":333.07086181640625,"wires":[["a6f227e3.7b666"]]},{"id":"a6f227e3.7b666","type":"function","z":"1d871841.9c23e8","name":"Save Context","func":"if (msg.iteration >6){\n    msg.features.class = \"GENERAL\";\n    msg.payload = msg.features;\n    msg.payload.labels =[\"GENERAL\"];\n    msg.payload.predictions=[1];\n    msg.statusCode = 200;\n    return [msg, null];\n}\nif(typeof msg.payload.errors != \"undefined\" ){\n    var errcol = msg.payload.errors[0].target.name.replace(\"key not found: \", \"\")\n\n    var keyw = msg.features.keywords\n    for (i = 0; i <keyw.length; i++){\n        if (keyw[i].text == errcol){\n            keyw.splice(i, 1);\n        }\n    }\n    while (keyw.length < 6){\n        keyw.push(keyw[0]);\n    }\n    msg.payload = {\"fields\":[\"KEY1\",\"KEY2\",\"KEY3\", \"KEY4\",\"KEY5\", \"KEY6\"],\"values\":[[keyw[0].text,keyw[1].text,keyw[2].text,keyw[3].text,keyw[4].text,keyw[5].text]]}\n    msg.headers = {};\n    msg.headers.Authorization = msg.auth;\n    msg.iteration ++;\n    return [null, msg];\n}\n\nmsg.features.labels = [\"BILL CLARIFICATIONDISPUTE\", \"CANCELDOWNGRADE\", \"PAYMENT ARRANGEMENT\", \"INTERNET\", \"LOGINREGISTRATION\", \"SALES\", \"PASSWORD\", \"EMAIL\", \"VIDEO\", \"EASYPAY\", \"SLOW SPEED\", \"ROUTERMODEM\", \"SECURITY\", \"APPOINTMENT\", \"PAY BILL\", \"MOVETRANSFER\", \"DISCONNECT\", \"PHONE\", \"OUTAGE\", \"UPGRADE\", \"SELF-ACTIVATION\", \"HOMELIFE\", \"DATA USAGE\"];\nmsg.features.trimChat = msg.trimChat;\nmsg.features.class = msg.payload.values[0][24];\nmsg.features.predictions = msg.payload.values[0][22];\nmsg.payload = msg.features;\nreturn [msg, null];","outputs":"2","noerr":0,"x":837.0333862304688,"y":391.13330078125,"wires":[["905afb73.c52028","af9f0456.3bd5b8"],["8935e865.e6eb08"]]},{"id":"6e068f87.96b798","type":"template","z":"1d871841.9c23e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n    textarea {\n  width: 1200px;\n  height: 75px;\n  margin:5px;\n}\n</style>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n\n<script>\ngoogle.charts.load('current', {'packages':['corechart']});\n$(document).ready(function(){\n    $('#clear').click(function(e) {\n        eclear();\n    });\n    $('#submit').click(function(e) {\n    \te.preventDefault();\n    \t$(\"#keyw\").html(\"\");\n        $(\"#sentiment\").html(\"\");\n        $(\"#classification\").html(\"\");\n        $(\"#tone\").html(\"\");\n        $(\"#chart_div\").html(\"\");\n        $(\"#trimChat\").html(\"\");\n        var txt = $('#foo').val();\n        $.post(\"/classify\", {\"TRANSCRIPT\": txt}, function(result){\n            $(\"#classification\").html(result.class);\n            var keyw = \"\";\n            for (i = 0; i <result.keywords.length; i++){\n                keyw = keyw  + result.keywords[i].text;\n                if ( i+1 < result.keywords.length )\n                    keyw = keyw + \", \";\n            }\n            $(\"#keyw\").html(keyw);\n            $(\"#trimChat\").html(result.trimChat);\n            $(\"#sentiment\").html(result.sentiment.document.label + \" ( \" + Math.round(result.sentiment.document.score * 100) + \"% )\");\n            \n            var q = result.emotion.document.emotion;\n            var edata = google.visualization.arrayToDataTable([\n                ['L', 'Sadness', 'Joy', 'Fear', 'Disgust','Anger', { role: 'annotation' } ],\n                ['Emotion', q.sadness,q.joy,q.fear,q.disgust,q.anger, '']\n              ]);\n              \n              var eoptions = {\n                  isStacked: 'percent',\n                  height: 250,\n                  width:650,\n                  legend: {position: 'top', maxLines: 1},\n                  hAxis: {\n                    minValue: 0,\n                    ticks: [0, .25, .5, .75, 1]\n                  }\n                };\n                var echart = new google.visualization.BarChart(document.getElementById('tone'));\n\n                echart.draw(edata, eoptions);\n\n\n\n                var data = new google.visualization.DataTable();\n                data.addColumn('string', 'Classification');\n                data.addColumn('number', 'Percent');\n                var d = []\n                for (i=0; i< result.labels.length; i++){\n                    d.push([result.labels[i],result.predictions[i]])\n                }\n                data.addRows(d);\n                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));\n                chart.draw(data,{'width':850,'height':250});\n              \n        });\n    });\n    var eclear = function() {\n        $('#foo').val(\"\");\n        $(\"#keyw\").html(\"\");\n        $(\"#sentiment\").html(\"\");\n        $(\"#classification\").html(\"\");\n        $(\"#tone\").html(\"\");\n        $(\"#chart_div\").html(\"\");\n        $(\"#trimChat\").html(\"\");\n    };\n});\n</script>\n</head>\n<body>\n<H1>NLU Chat Classification Demo</H1>\n<textarea id=\"foo\"></textarea>\n<br>\n<center><button id=\"clear\">Clear</button><button id=\"submit\">Submit</button></center>\n\n<H2>Results:</H2>\n<b>Trimmed Chat:</b> <span id=\"trimChat\"></span><br>\n<b>Keywords:</b> <span id=\"keyw\"></span><br>\n<b>Classification:</b> <span id=\"classification\"></span><br>\n<div id=\"chart_div\"></div>\n<b>Sentiment:</b> <span id=\"sentiment\"></span><br>\n<b>Tone:</b> <span id=\"tone\"></span><br>\n</body>\n</html>","x":427.4499986436631,"y":947.6667107476129,"wires":[["b70f1e2f.0e9bd8"]]},{"id":"b70f1e2f.0e9bd8","type":"change","z":"1d871841.9c23e8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":663.4500596788193,"y":948.5555657280817,"wires":[["6fbbc1c.22f0cc"]]},{"id":"6fbbc1c.22f0cc","type":"http response","z":"1d871841.9c23e8","name":"","statusCode":"","headers":{},"x":934.11669921875,"y":945.9999694824219,"wires":[]},{"id":"e66ba51f.e67db8","type":"http in","z":"1d871841.9c23e8","name":"","url":"/nlu-chat.html","method":"get","upload":false,"swaggerDoc":"","x":245.22781541612403,"y":946.8332146538629,"wires":[["6e068f87.96b798"]]},{"id":"b3841f4b.ed84c8","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Entities","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":432,"y":592.3499450683594,"wires":[["9b149369.6858b8"]]},{"id":"9b149369.6858b8","type":"function","z":"1d871841.9c23e8","name":"","func":"\n\nvar reg = \"\";\nreg = reg + \"Cox| chat | moment | Cox Live | PIN | agent |XXXX| Chat Support | 10-Digit Phone Number | four-digit | complete home address |<span>|<br>|<\\\\/span>\"\n\nfor (i=0; i<msg.features.entities.length; i++){\n    reg = reg + \" | \" + msg.features.entities[i].text.replace(\" \", \" | \") + \" \";\n}\n\nreg = new RegExp(reg, \"gi\");\nvar npay = msg.payload.replace(reg, \" \"); \nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\nnpay = npay.replace(reg, \" \");\n\nvar chatid = msg.chatid;\nvar prog = msg.prog;\nmsg = {};\nmsg.payload = npay;\nmsg.progress = prog;\nmsg.chatid = chatid;\nreturn msg;","outputs":1,"noerr":0,"x":273.99998474121094,"y":645.3499755859375,"wires":[["bf3bf075.5524c8"]]},{"id":"ef57d6d.ab97928","type":"function","z":"1d871841.9c23e8","name":"Cleanse","func":"msg.chatid = msg.payload.ENGAGEMENTID;\nmsg.payload = msg.payload.TRANSCRIPT;\nmsg.payload = msg.payload.replace(/(Thank).*?(today)/i, \" \");\nmsg.payload = msg.payload.replace(/<[^>]*>/g, \" \");\nmsg.payload = msg.payload.replace(/(Hello|Hi)\\s\\S+/gi, \" \");\nmsg.payload = msg.payload.replace(/(To better assist you).*?(Thank you)/i, \" \");\nmsg.payload = msg.payload.replace(/[(),.!?;:]/g, \"  .  \");\nreturn msg;","outputs":1,"noerr":0,"x":281.99998474121094,"y":593.3499755859375,"wires":[["b3841f4b.ed84c8"]]},{"id":"bf3bf075.5524c8","type":"natural-language-understanding","z":"1d871841.9c23e8","name":"NLU Keywords","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"15","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":445,"y":645.3499755859375,"wires":[["7ae0ba87.d4e26c"]]},{"id":"7ae0ba87.d4e26c","type":"http request","z":"1d871841.9c23e8","name":"Auth","method":"GET","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/identity/token","tls":"75411194.de7f28","x":621,"y":646.3499755859375,"wires":[["76272e48.8d777"]]},{"id":"76272e48.8d777","type":"function","z":"1d871841.9c23e8","name":"Prep","func":"msg.iteration = 0;\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.payload.token;\nmsg.auth = msg.headers.Authorization;\nvar keyw = msg.features.keywords\nif (keyw.length < 6){\n    keyw.push({\"text\":\"\"});\n}\nmsg.payload = {\"fields\":[\"KEY1\",\"KEY2\",\"KEY3\", \"KEY4\",\"KEY5\", \"KEY6\"],\"values\":[[keyw[0].text,keyw[1].text,keyw[2].text,keyw[3].text,keyw[4].text,keyw[5].text]]}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":626.0833740234375,"y":588.1207885742188,"wires":[["bf27341b.f44d78"]]},{"id":"bf27341b.f44d78","type":"http request","z":"1d871841.9c23e8","name":"Watson Machine Learning","method":"POST","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/wml_instances/40cda31c-7686-4b23-946c-bd2d5bf7fab3/published_models/3407f10b-0aba-45ae-aaab-afa1d622a5d1/deployments/af13cf4c-a544-4186-a20f-e0e9f393e497/online","tls":"75411194.de7f28","x":843.3333740234375,"y":587.8707885742188,"wires":[["2f03ac47.b0c36c"]]},{"id":"2f03ac47.b0c36c","type":"function","z":"1d871841.9c23e8","name":"Save Context","func":"if (msg.iteration >6){\n    msg.features.class = \"GENERAL\",\n    msg.payload = msg.features;\n    return [msg, null];\n}\n\nif(typeof msg.payload.errors != \"undefined\"){\n    var errcol = msg.payload.errors[0].target.name.replace(\"key not found: \", \"\")\n\n    var keyw = msg.features.keywords\n    for (i = 0; i <keyw.length; i++){\n        if (keyw[i].text == errcol){\n            keyw.splice(i, 1);\n        }\n    }\n    while (keyw.length < 6){\n        keyw.push(keyw[0]);\n    }\n    msg.payload = {\"fields\":[\"KEY1\",\"KEY2\",\"KEY3\", \"KEY4\",\"KEY5\", \"KEY6\"],\"values\":[[keyw[0].text,keyw[1].text,keyw[2].text,keyw[3].text,keyw[4].text,keyw[5].text]]}\n    msg.headers = {};\n    msg.headers.Authorization = msg.auth;\n    return [null, msg];\n}\n\nmsg.features.labels = [\"BILL CLARIFICATIONDISPUTE\", \"CANCELDOWNGRADE\", \"PAYMENT ARRANGEMENT\", \"INTERNET\", \"LOGINREGISTRATION\", \"SALES\", \"PASSWORD\", \"EMAIL\", \"VIDEO\", \"EASYPAY\", \"SLOW SPEED\", \"ROUTERMODEM\", \"SECURITY\", \"APPOINTMENT\", \"PAY BILL\", \"MOVETRANSFER\", \"DISCONNECT\", \"PHONE\", \"OUTAGE\", \"UPGRADE\", \"SELF-ACTIVATION\", \"HOMELIFE\", \"DATA USAGE\"];\n\nmsg.features.class = msg.payload.values[0][24];\nmsg.features.predictions = msg.payload.values[0][22];\nmsg.payload = msg.features;\nreturn [msg, null];","outputs":"2","noerr":0,"x":850.5833740234375,"y":645.9332275390625,"wires":[["e903c6e5.55b868"],["bf27341b.f44d78"]]},{"id":"7c383470.b9788c","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"select ENGAGEMENTID from DASH101062.BATCH_IN;","params":"","name":"Get Dataset","x":99.44999694824219,"y":550.9500122070312,"wires":[["62c73e84.bb7f8"]]},{"id":"3419a8cb.7bffb8","type":"inject","z":"1d871841.9c23e8","name":"Start Batch - Categorize","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148.4499969482422,"y":504.95001220703125,"wires":[["7c383470.b9788c","78762a5c.2d9d9c"]]},{"id":"62c73e84.bb7f8","type":"split","z":"1d871841.9c23e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":99.44999694824219,"y":633.9500122070312,"wires":[["8a8bc6ac.68dd4"]]},{"id":"8a8bc6ac.68dd4","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"select * from DASH101062.BATCH_IN where ENGAGEMENTID = ?;","params":"msg.payload.ENGAGEMENTID","name":"Read Row","x":96.89999389648438,"y":594.5000228881836,"wires":[["ef57d6d.ab97928"]]},{"id":"e903c6e5.55b868","type":"function","z":"1d871841.9c23e8","name":"prep","func":"msg.payload = \"insert into DASH101062.BATCH_RESULTS (ENGAGEMENTID, CLASSIFICATION, META) values ('\" + msg.chatid + \"','\" + msg.payload.class + \"','\" + JSON.stringify(msg.payload) + \"');\" ;\n\nreturn msg;","outputs":1,"noerr":0,"x":1053.6500244140625,"y":638.8499755859375,"wires":[["ecfde957.d5d928"]]},{"id":"ecfde957.d5d928","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"","params":"","name":"DB2 Write","x":1059.0999755859375,"y":680.2999877929688,"wires":[["af9f0456.3bd5b8"]]},{"id":"78762a5c.2d9d9c","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"truncate table DASH101062.BATCH_RESULTS immediate;","params":"","name":"Truncate Results Table","x":439.45001220703125,"y":504.25,"wires":[[]]},{"id":"af9f0456.3bd5b8","type":"debug","z":"1d871841.9c23e8","name":"","active":true,"console":"false","complete":"true","x":1187.1498413085938,"y":246.08331298828125,"wires":[]},{"id":"6b0f3bac.88385c","type":"dashDB in","z":"1d871841.9c23e8","dashDB":"cda238b.12ac448","service":"_ext_","query":"truncate table DASH101062.TRAINING immediate;","params":"","name":"Truncate Results Table","x":394.45001220703125,"y":206.4499969482422,"wires":[[]]},{"id":"cda238b.12ac448","type":"dashDB","z":"","hostname":"dashdb-entry-yp-dal09-09.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"75411194.de7f28","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]